<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Detour"
    Manufacturer="Midtown Technology Group LLC"
    Version="$(var.Version)"
    UpgradeCode="{B3D54CB8-FA2D-5DC6-A6FF-147807766C0E}"
    InstallerVersion="500"
    Scope="perMachine">

    <SummaryInformation Description="Detour installer" Manufacturer="Midtown Technology Group LLC" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Detour is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="Midtown Technology Group">
        <Directory Id="INSTALLFOLDER" Name="Detour" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Detour" Level="1">
      <ComponentGroupRef Id="ToolComponents" />
    </Feature>

    <ComponentGroup Id="ToolComponents" Directory="INSTALLFOLDER">
      <Component Id="ToolExecutableComponent" Guid="*">
        <File Id="ToolExecutable" Source="$(var.BinDir)\detour.exe" KeyPath="yes" />
      </Component>
      <Component Id="PathComponent" Guid="{FA5A8115-F7DF-5AA0-A083-F2E9BAFCF428}">
        <CreateFolder />
        <Environment
          Id="ToolPathEntry"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
